<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619733975217-p215ousq7on598ddk6lquptsg3nptebs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619733975217-p215ousq7on598ddk6lquptsg3nptebs</string>
	<key>API_KEY</key>
	<string>AIzaSyCD_tTJjFztdkMuBOPEYPCGp5oyTrNPEcI</string>
	<key>GCM_SENDER_ID</key>
	<string>619733975217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatiheminkarahan.AniDuvarim</string>
	<key>PROJECT_ID</key>
	<string>aniduvarim</string>
	<key>STORAGE_BUCKET</key>
	<string>aniduvarim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619733975217:ios:b8d60404ff1c6d0354e290</string>
</dict>
</plist>